*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: white;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 50px;
}


a{
    text-decoration: none;
}
button{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
}
#btnCarfactory{
    display: block;
}
button:hover{
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
    
}
#btnLogin{
    font-size: 2em;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    
    text-align: center;
    margin: 10px;
}
#btnLogin:hover{
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
}


#userInfos{
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

#userInfos h2{
    margin: 10px;
}

#userInfos ul{
    margin-left: 35px;
    
}
#userInfos button{
    margin-left: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
#userInfos button:hover{
    box-shadow: 2px 2px 15px black;
    cursor: pointer;
}


#title{
    text-align: center;
}


#produto{
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    margin: 5px;
    margin-left: 5px;
    padding: 5px;
    width: auto;
    max-width: 687px;
    min-width: 687px;
    min-height: 650px;
    background-color: white;
    color: black;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
}

#produto img{
    display: table;
    border: 3px solid gray;
    border-radius: 10px;
    max-width: 600px;
    max-height: 600px;
    box-shadow: 1px 1px 5px black;
    margin: 20px;
    
}

#produto h1{
    font-size: 1.6em;
    margin-bottom: 7px;
    color: red;
    
}
#produto h1 span{
    text-decoration: underline;
}


#produto h2{
    color: white(165, 19, 19);
    margin-bottom: 5px;
    color: blue;
}
#produto h3{
    color: red;
}
#produto span{
    color: black;
}
#produto button{
    display: inline;
}

#Store{
    display: flexbox;
    width: auto;
    max-width: 1430px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px;
    background-color: white;
}

#h2fees{
    display: inline;
}

#fees{
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 300px;
}

#submit{
    display: inline-block;
}
