*{
    margin: 0;
    padding: 0;
}

#btnLogin{
    font-size: 2em;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    
    text-align: center;
    margin: 10px;
}
#btnLogin:hover{
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
}


#userInfos{
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

#userInfos h2{
    margin: 10px;
}

#userInfos ul{
    margin-left: 35px;
    
}


#title{
    text-align: center;
}


#produto{
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    margin-left: 25px;
    padding: 5px;
    width: auto;
    max-width: 650px;
    min-width: 650px;
    min-height: 650px;
    background-color: white;
    color: black;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
}

#produto img{
    display: table;
    border: 3px solid gray;
    border-radius: 10px;
    max-width: 600px;
    max-height: 600px;
    box-shadow: 1px 1px 5px black;
    margin: 20px;
    
}

#produto h1{
    font-size: 1.6em;
    margin-bottom: 7px;
    color: red;
    
}
#produto h1 span{
    text-decoration: underline;
}


#produto h2{
    color: white(165, 19, 19);
    margin-bottom: 5px;
    color: blue;
}
#produto span{
    color: black;
}

#Store{
    display: flexbox;
    width: auto;
    max-width: 1430px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: white;
}

